body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
p {
  margin-bottom: 0;
  margin-top: 5px;
}
.header {
  margin-top: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

.nav-buttons {
  display: flex;
}
.search-form {
  width: 300px;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: #696666;
}
.tag-bar {
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 20px auto;
  height: 70px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  li a {
    margin-right: 20px;
    display: inline-block;
  }
}
li {
  list-style: none;
}
h1,
h2,
h3 {
  margin: 0;
}
h2.logo a {
  color: black;
}
.featured-section {
  width: 85%;
  margin: 0 auto;
}
.featured-posts {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 38% 33% 29%;
}
.featured-link {
  display: flex;
  justify-content: flex-end;
}
img {
  max-width: 100%;
  max-width: 150px;
}

.large-post-image {
  background-image: url('https://images.unsplash.com/photo-1562886889-0d7ec2bc333e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=710&q=80');
  height: 150px;
  margin-bottom: 16px;
  background-size: cover;
  display: block;
}
.small-posts {
  display: grid;
  grid-row-gap: 10px;
}
.small-post {
  display: grid;
  grid-template-columns: 30% 70%;
}

.small-post-image {
  height: 90px;
  margin-bottom: 16px;
  margin-right: 10px;
  background-size: cover;
  display: block;
}

.medium-post-image {
  height: 150px;
  margin-bottom: 16px;
  margin-right: 10px;
  background-size: cover;
  display: block;
}
.post-list-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.posts-list {
  width: 65%;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 10px;
}

.post-list {
  display: grid;

  grid-template-columns: 80% 20%;
}
.post-list-image {
  height: 150px;
  margin-bottom: 16px;
  background-size: cover;
  display: block;
}
.action {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  a {
    font-size: 30px;
    margin-right: 10px;
  }
  a.delete {
    color: red;
  }
}
.edit {
  transform: scale(-1, 1);
}
.small-post,
.large-post,
.medium-post,
.post-list {
  h3:hover,
  h1:hover,
  h2:hover {
    cursor: pointer;
  }
}

/************************************************
***************Create/Edit page******************
*************************************************/
.create-form,
.edit-form {
  margin-bottom: 30px;
}
.form-grid {
  display: grid;
  padding: 0;
  grid-template-columns: auto;
  grid-row-gap: 5px;
  width: 50%;
  margin: 0 auto;
  label {
    font-weight: 600;
  }
}

input {
  border-bottom: 1px solid black !important;
  max-width: 90%;
}
input,
select {
  border: #f2f2f2;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  background-color: transparent;
  font-size: 20px;
  height: 30px;
  width: 100%;
}
select {
  width: 90%;
}
input:focus {
  border-bottom: 2px solid black !important;
  outline: none;
}

.btn {
  width: 50%;
  margin: 0 auto;
  color: black;
  height: 30px;
  border: 1.5px solid black;
  font-size: 20px;
  background: white;
  border-radius: 5px 5px;
  // box-shadow: 0px 3px 1px #666;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  padding: 0 10px;
  padding-bottom: 10px;
}
.btn-sm {
  height: 15px;
  padding-bottom: 2px;
  border: 1.3px solid black;
  font-size: 17px;
}
textarea {
  border: 1px solid black;
  max-width: 100%;
}

.error {
  color: red;
  font-size: 12px;
}
.like {
  color: red;
  font-size: 12px;
}
.error-output {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
}
.success {
  height: 50px;
  border-radius: 0.5em;
  color: #4f8a10;
  background-color: #dff2bf;
  width: 50%;
  margin: 10px auto;
  display: none;
  span {
    font-size: 30px;
    margin-left: 20px;
  }
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1.5s, opacity 1.5s linear;
}

/*******************************************************
**********************Read post Styles******************
********************************************************/

.post-content {
  width: 70%;
  margin: 0 auto;
}
.post-header {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
  h1 {
    font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
    font-size: 30px;
  }
  h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #727272;
  }
}

.post-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}
.image {
  display: block;
  width: 700px;
  max-width: 70%;
  height: 399px;
  background-image: url('https://images.unsplash.com/photo-1576018391030-94f475d9a716?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}
.post-body {
  margin-bottom: 30px;
}
.post-img {
  width: 100%;
  height: auto;
}
.tags-list {
  display: grid;
  width: 100px;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-row-gap: 5px;
  margin-bottom: 30px;
}
.tags-list,
.tag-bar li {
  margin-right: 20px;
  margin-bottom: 10px;
  width: 500px !important;
  a {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 5px;
    padding-left: 15px;
    width: 70px;
  }
}

//search input
.search-input {
  max-width: 50%;
}
.search-post {
  transform: rotate(45deg);
}
